tbody {
    overflow-y: scroll !important;
  }

  input {
    border: 0;
    border-bottom: 2px solid #bdbdbd;
    padding: 5px 0;
    background-color: transparent;
 }
  input:focus {
    outline: none;
 }
  input:focus + .sb-textfield__row {
    width: 100%;
 }

 /* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #22374e;
}

.title_tab {
  color: #d10707;
}

td, th {
  border: 1px solid #416389;
  text-align: left;
  padding: 8px;
  color: white;
} */

